Package: hamster
Version: 0.10
Maintainer: Mathias Dolidon <mathias.dolidon@gmail.com>
Description: HTTP mirroring / offline-browsing tool
Section: web
Priority: optional
Installed-Size: 4308
Architecture: all
Homepage: https://github.com/mdolidon/hamster
Depends: default-jre | java8-runtime
